  .segment{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: start;
    margin: 5px;
    gap: 20px;
    width: 30%;
    padding-right: 70%;
    align-items:start;


  }

  .employeeImage{

    height: 10vh;
    width: 10vh;
    border: solid;
    border-color:rgb(49, 135, 138);
    border-radius: 20px;
    box-shadow:dimgray 10px 2px 10px;

  }

  
  ul {
   /*  width: 70%;
    padding-right: 50%; */
    list-style-type: none;
    // text-align: left;
  }

  .invisible
  {
    visibility:hidden;

  }

  .coloumHead {
    color: rgb(1, 157, 168);
    background-color: rgb(236, 236, 236);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    font-size: 200%;
    margin-bottom: 3vh;
  }

  .mid{

    margin-top: 4vh;
    font-size: 150%;
    min-width: 100px;


  }

  .detailsBox
  {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin:5vh;
    padding:3vh;
    border-color: lightblue;
    border:solid;
    color: rgb(2, 43, 46);
    background-color: rgb(243, 241, 241);
    box-shadow: rgb(156, 182, 207) 5px 5px 6px;
    border: 2px;
    width: 20vw;

  }

.greened{

  padding: auto; 
  color: rgb(31, 143, 151);
  font-size: 150%;

}

.twoGrid{

  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-column-start: initial;

}

.inputBox{

  font-size: 150%;
  border-radius: 10px;
  text-align: center;
  width: 8vw;
  height: 4vh;


}

.labelBox{

  font-size: 150%;
  color:  rgb(145, 145, 145);
  background-color: rgb(231, 230, 230);
  border-radius: 10px;
  border:solid;
  text-align: center;
  padding: auto;
  width: 8vw;
  height: 4vh;
}

.selected{

  background-color: rgb(243, 241, 241);
  transition-timing-function: ease-in;
  transition: background-color 1s;
  size: 120%;

}

.notSelected{

  background-color: rgb(255, 255, 255);
  transition-timing-function: ease-in;
  transition: background-color 1s;
  size: 120%;

}

.invisiblebox
{

  transition-timing-function: ease-in;
  transition: opacity 1s;
  visibility:hidden;
  opacity: 0;

}

.visiblebox
{

  transition-timing-function: ease-in;
  transition: opacity 2s;
  opacity: 1;

}