<h1 class="titleColor">
    <div class='rightWrapper'>
        <div class="right">
            <img calss="right-img" width="200px" height="100px" src='assets/storeTitle.png'>
        </div>
    </div>
</h1>
<div *ngIf="isLoggedIn">
    <app-greetingline></app-greetingline>   
</div>
<nav>
    <div class="nav-grid">
        <a class="linkButton" routerLink="/products">Our Stuff</a>
        <a class="linkButton" routerLink="/employees">Our Staff</a>
        <a class="linkButton" routerLink="/employeesOfTheMonth">Employees Of The Month!</a>
        <a class="linkButton" routerLink="/Editor">Message Editor</a>
        <a class="linkButton" routerLink="/story">Our Story</a>
    </div>
 </nav>

 <div *ngIf="isLoggedIn">

    <router-outlet></router-outlet>

 </div>

 <div *ngIf="!isLoggedIn">

    <app-loginscreen></app-loginscreen>

 </div>

<!-- <app-employees></app-employees> -->
<app-messages></app-messages>