/* Application-wide Styles */
.titleColor {
    color: rgb(34, 148, 135);
    background-color: rgb(243, 243, 243);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 250%;
    margin-bottom:30px;
  }
  h2, h3 {
    color: rgb(46, 71, 73);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    margin:2vh;
  }
/*   body {
    margin: 2em;
  } */

  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .details{

    display: grid;

  }


  ul {
    list-style-type: none;
  }

  .allForm{

    display:grid;
    // grid-template-rows:1fr 1fr;
    
  }

  html{
    scroll-behavior: smooth;
  }

  .nav-grid
  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:1px;
    margin-top: 4vh;
    margin-bottom: 2vh;
    background-color: rgb(240, 252, 252);

  }

  .linkButton
  {
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
    box-shadow: rgb(201, 201, 201) 2px 2px 3px;
    border: solid 1px rgb(56, 141, 156);
    text-decoration: none;
    border-radius: 5px;
    width: 10vw;
    max-height: 120px;
    min-width: 170px;
    padding: 5px;
    font-family:fantasy;
    text-align: center;
    font-size: 90%;
    margin: 2px;

  }
  .linkButton:hover {
    background-color: rgb(56, 141, 156);
    color: rgb(255, 255, 255);
  }

  .linkButton:active{
    background-color: rgb(219, 237, 245);
    color: rgb(0, 0, 0);
    width: 11vw;
    min-width: 120px;
    transition-timing-function: ease-in;
    transition: width 2s ;
  }

  .rightWrapper
  {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: end;
    width: 100%;
    margin: 0;
    padding: 0;

  }



  .right
  {
    
    min-width: 200px;

  }
