<div class="coloumHeadOldLook">
    Our Story
</div>
<div class='wrapper'>
    <div class="oldlook">
        Our Story begins in the year 1957, in a little town in Norway, where <a routerLink="/details/110">George the frog </a> lived in a deserted slimy pond.<br>
        One day, George hopped out of the pond. He was thinking about geometric objects, espacially triangle, but some balls and cubes two. <br>
        Hey, thought George, maby i should establish a geometric store where people would buy all kind of geometric bodys. <br>
        Years later George met <a routerLink="/details/122">Mahina</a>  and <a routerLink="/details/120">Mahabutu</a> Kamba, who could talk <a href="https://www.abbreviations.com/FROGISH"  target="_blank">Frogish</a>, and his dream came true. <br>
        The first and last 'Geometric Store' was founded in Finland. Because they are that bored in Finland. Yea really. Who else would even consider buying geometric objects<br>
        Its really stupid.<br>
        Mahina, are you still typing? stop now.
    </div>
    <div>
        <img class="storyImage" src="/assets/story.jpg">
    </div>
</div>
