.coloumHead {
    color: rgb(1, 157, 168);
    background-color: rgb(236, 236, 236);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    font-size: 200%;
    margin-bottom: 3vh;
  }