.fix{
    height: 20vh;
    width: 100%;
    background-color: rgb(204, 204, 204);
    box-shadow:dimgray 10px 2px 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    position: sticky;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    border-radius: 5px;
    transition: opacity 3s;
    border: solid;
    transition-timing-function: ease-in;
    overflow-y: scroll;
    }

.margin{

    margin:2vh;

}