<div class="detailsWrapper" *ngIf="employee">

    <div class="detailsBox">
        <a class="link" routerLink="/details/{{employee.id}}">
            <div class="coloumHead">
                {{employee.name | uppercase}}
            </div>
        </a>
        <div class="twoGrid">
            <label class = "greened" >id:</label>
            <label class = "labelBox" > {{employee.id}}</label>
        </div>
        <div class="twoGrid">
            <label class = "greened">Name:</label>
            <input class="inputBox" [(ngModel)]="employee.name" placeholder="name"/>
        </div>
        <div class="twoGrid"> 
            <label class = "greened">Role:</label>
            <input class="inputBox" [(ngModel)]="employee.job" placeholder="job"/>
        </div>
    </div>

</div>